@media only screen and (max-width: 768px) {
    

    .container-Dropdown{
        cursor: pointer;
        position: absolute;
        z-index: 1000;
        border: 1px solid rgb(231, 228, 228);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: fixed;
        background-color: white;
        top: 2%;
        right: 30%;
        .Dropdown{
            cursor: pointer;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            list-style: none;
            position: relative;
            a{
                text-decoration: none;
                list-style-type: none;
                color: black;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .container-Dropdown{
        cursor: pointer;
        background-color: red;
        z-index: 1000;
        border: 1px solid rgb(231, 228, 228);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: fixed;
        background-color: white;
        top: 12%;
        right: 5%;
        .Dropdown{
            cursor: pointer;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            list-style: none;
            position: relative;
            a{
                text-decoration: none;
                list-style-type: none;
                color: black;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .menu{
        cursor: pointer;
    }
    .container-Dropdown{
        cursor: pointer;
        background-color: red;
        z-index: 1000;
        border: 1px solid rgb(231, 228, 228);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: fixed;
        background-color: white;
        top: 12%;
        right: 5%;
        .Dropdown{
            cursor: pointer;
            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            list-style: none;
            position: relative;
            a{
                text-decoration: none;
                list-style-type: none;
                color: black;
            }
        }
    }
}