.mapa{
    position: fixed;
    
    left: 50%;
    transform: translateX(-50%);

    bottom: 5%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color:black;
}
.containerMap{
display: flex;
cursor: pointer;
}
.buttonMapa{
    color: white;
    background: none;
    border: none;
    opacity: 1;
    cursor: pointer;
}